# GSMC VANGUARD SYSTEM CONFIGURATION
PORT=3000

# SECURITY
JWT_SECRET=supersecretchangeinproduction
MONGODB_URI=mongodb+srv://...

# INTELLIGENCE ASSETS
ROWIFI_API_KEY=
DISCORD_GUILD_ID=
DISCORD_WEBHOOK_URL=

# ORBAT UPLINKS (Google Sheets)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID_GSMC=
GOOGLE_SHEET_ID_CBRN=
GOOGLE_SHEET_ID_NS=

# SYSTEM OVERRIDES
OVERRIDE_KEY=admin_secret_key_here
